$primary-color: #222629;
$secondary-color: #86c232;
$dark-green: #61892f;
$light-grey: #6b6e70;

.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;

  a {
    background: rgba(#fff, 0.4);
    color: $primary-color;
    display: block;
    padding: 1rem;
    text-decoration: none;
    border-radius: 7px;
    border: 1.5px solid $dark-green;
  }

  a:hover {
    background: $light-grey;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    color: $primary-color;
    font-size: 0.8rem;
    font-style: italic;
  }
}
