$primary-color: #222629;
$secondary-color: #86c232;
$dark-green: #61892f;
$light-grey: #6b6e70;

.footer {
  margin-top: 3rem;
  //background-color: $primary-color;
  height: 60px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;

  p {
    color: darken(#ffffff, 20%);
    font-size: 0.9rem;
    padding: none;
  }
}

.icons {
  a {
    text-decoration: none;
    color: darken(#ffffff, 20%);
    padding: 0.4rem;

    &:hover {
      color: $secondary-color;
    }
  }
}
