$primary-color: #222629;
$secondary-color: #86c232;
$dark-green: #61892f;
$light-grey: #6b6e70;

.header {
  padding: 0;
  font-size: 1.8rem;
  box-shadow: 1px 1px 4px rgba(#fff, 0.6);
  margin-bottom: 3rem;
  border-radius: 7px;
}
.container {
  overflow: hidden;
  padding: 0 1rem;
  display: grid;
  grid-template-areas: "logo nav";
  grid-template-columns: repeat(2, 1fr);
}

.logo {
  grid-area: logo;
  height: auto;
  width: auto;
  max-height: 130px;
  max-width: 130px;
}
.title {
  color: $light-grey;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  grid-area: nav;
  display: flex;
  justify-self: flex-end;
  align-items: center;
  align-content: center;
  list-style-type: none;
  margin: 0;
}

.navItem {
  color: $light-grey;
  font-size: 1rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.navItem:hover {
  color: $secondary-color;
}

.active-nav-item {
  color: $secondary-color;
}
